{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1 style="text-align:center;">
        📚 Astrology Report History
    </h1>

    <table>

        <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Zodiac</th>
            <th>Date</th>
        </tr>

        {% for row in data %}

        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}